# Check if the binaries we have in this repository actually work when "npm i" is run
name: Install and test the binary

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node-version:
        - '18'
        - '20'
        container:
        - 'debian:buster-slim'
        - 'debian:bullseye-slim'
        - 'debian:unstable-slim'

    runs-on: 'ubuntu-22.04'  # the host system for the Action to be run, tests will be run inside the containers defined above

    container:
      image: ${{ matrix.container }}

    steps:
    - uses: actions/checkout@v6

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@master
      with:
        node-version: ${{ matrix.node-version }}

    - name: Print distro and Node.js version information
      run: cat /etc/os-release && node -v && npm -v

    - name: Install the package
      run: npm install

    - name: Run the tests
      run: npm test
