# Check if the binaries we have in this repository actually work when "npm i" is run
name: Install and test the binary

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node-version:
        - 'lts/*'
        os:
        - 'ubuntu-22.04'
        - 'macos-14-large'  # x64
        - 'macos-14'        # arm

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@master
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install the package
      run: npm install

    - name: Run the tests
      run: npm test
